
html {
  overflow: scroll;
  overflow-x: hidden;
  user-select: none;
  }
  ::-webkit-scrollbar {
  width: 0px; 

  }
.banner{
    height: 75vh;
}
.bgAdjust{
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner > div > h1{
    font-size: 6em;
    color:white;
    font-weight:700;
}
.banner > div {
    background-color:rgb(17, 28, 43,0.5) !important;
    
}
.about >div div{
  background-color:#1b1a1a;
  box-shadow: rgba(0, 0, 0, 0.4)  1px 10px 4px;
}
.side{
  height:170vh!important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1047%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(36%2c 36%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M879.4782652056357 466.69526894527337L847.5073706789254 631.171262776824 1011.983364510476 663.1421573035343 1043.9542590371864 498.6661634719836z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M316.68%2c659.419C346.017%2c659.463%2c367.922%2c635.879%2c382.628%2c610.494C397.383%2c585.026%2c405.993%2c554.807%2c392.415%2c528.693C377.893%2c500.764%2c348.05%2c481.047%2c316.68%2c483.66C288.308%2c486.023%2c273.137%2c514.439%2c260.041%2c539.718C248.349%2c562.287%2c240.203%2c587.32%2c251.074%2c610.296C263.598%2c636.764%2c287.399%2c659.375%2c316.68%2c659.419' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M839.0108904349423 151.21356090767264L930.1102392794111 80.03894907136792 858.9356274431063-11.06039977310084 767.8362785986376 60.114212063203894z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1292.3637168911864 367.507009100045L1238.0103437187772 421.8603822724542 1346.7170900635956 476.21375544486335z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M254.059%2c389.111C311.117%2c392.897%2c375.377%2c383.555%2c404.444%2c334.309C433.82%2c284.539%2c413.352%2c222.07%2c380.865%2c174.272C352.586%2c132.666%2c304.341%2c114.627%2c254.059%2c113.049C200.165%2c111.357%2c139.969%2c119.352%2c112.671%2c165.853C85.152%2c212.731%2c105.596%2c270.483%2c134.68%2c316.407C161.398%2c358.595%2c204.232%2c385.804%2c254.059%2c389.111' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M303.49 162.81 a129.02 129.02 0 1 0 258.04 0 a129.02 129.02 0 1 0 -258.04 0z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M689.92 173.21 a152.2 152.2 0 1 0 304.4 0 a152.2 152.2 0 1 0 -304.4 0z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M900.3978853506209 317.8598636906598L743.4790602502771 359.7458930495875 842.1027914539433 461.87375637011667z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1311.127420792551 199.78358602123197L1370.304224342228 83.64256969242112 1166.5042980741732 52.94787253231095z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1530.396336220881 288.3115554555011L1489.2126744932075 134.61203744609384 1376.6968182114738 329.49521718317465z' fill='rgba(220%2c 53%2c 69%2c 0.41)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1047'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.spotifyLink{
  box-shadow: rgba(0, 0, 0, 0.4) 1px 10px 4px;
}
[data-container]{
    margin-bottom: 14vh;
}
hr{
  z-index: -10;
}
@media only screen and (max-width:992px){
  [data-container]{
    margin-bottom:0;
  }
  .side{
    margin-bottom: 14vh;
  }
}

@media only screen and (max-width:767px){

  .side{
    margin-bottom: 30vh;
  }
  .audio-player .flex-row-reverse,.duration,.fa-clock{
    display:none !important;
  }
  .cont .playBtn{
    position: absolute !important;
    left:98px;
    filter: drop-shadow(1px 1px 1px black);
  }
  .cont > div{
    width: 100% !important;
  }

  .cont{
    padding-right: 0px !important;
  }

  .audio-player{
    height:28vh !important;
  }
  .inf{
    margin: auto;
    width: max-content;
  }
  
}
@media only screen and (max-width:600px){
  .cont .nombre,.cont p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .cont .f{
    width:300px;
  }
}

.btn{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:hover .fa-circle-play{
  transform: scale(110%);
}
.rounded-circle{
  width: 10em;
  height: 10em;
}

@media (min-height:800px) and (min-width:767px){
  .audio-player{
    height: 11vh !important;
  }
}

.cont{
  color:white;
  background-color:#202020;
}
.notValid{
  color:rgba(255, 255, 255, 0.5);
  background-color: #111111;
}

.cont:hover{
    background-color:#353333!important;
}

.cont:hover .invisible{
  visibility:visible !important;
}
.cont > i:hover{
  transform: scale(1.1);

  transition: 100ms;
  cursor: pointer;
}


.n{
    width: 40px;
}
small{
  color:#afafaf;
}

.audio-player{
width: 100%;
position:fixed;
background:url("img/\'b4db3050.png\'");
height: 14vh;
bottom: 0;
clear: both;
}
 @media only screen and (min-width:992px){
  .audio-player{
    height: 14vh;
  }
} 


.audio-player i{
  color:#dc3545;
}

.volumeline {
    -webkit-appearance: none;

    height: .3em;
    background-color:  #535353;
    border-radius: 5px;
    background-size: 100% 100%;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
  }
  
.volumeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;

  }
  


.timeline {
    -webkit-appearance: none;
    width: 100%;
    height: .3em;
    background-color:  #535353;
    border-radius: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
  }

  .timeline:hover,.volumeline:hover{
    background-image: linear-gradient(#dc3545, #dc3545);
  }

  .timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    background-color: white;
 
  }
  
  .timeline:hover::-webkit-slider-thumb {
    opacity: 1;
  }
  
  .timeline::-webkit-slider-runnable-track,.volumeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  
  .bt,.volumeIcon{
    
      cursor: pointer;
  }
  .bt:hover{
      transform: scale(1.1);
      
  }

  .hide{
    display: none !important;
  }

.orange{
  color:#dc3545;
  background:#353333;
}

header{
  background:url("img/\'b4db3050.png\'");
}

body{
  background-color:#202020;
}

.d-hide{
  display: none !important;
}

.bar {
 background: #E20074;
  bottom: -29px;
  height: 10px;
  position: absolute;
  width: 1px;      
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 40px;        
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 309ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 446ms; }

.artista{
  text-shadow: rgba(0, 0, 0) 1px 1px 3px;
  font-size: 6em !important;
}

.random{
  color:#57171d !important;
  left: -25px;
}

.on{
  color:#dc3545 !important;
}

header h1{
  font-size: 5.5em !important;
  text-align: center;
  color:#dc3545;
  text-shadow: #fff 1px 1px 1px;
}

.blue{
    color:#dc3545;
}

.blue-strong{
  color:#8f232e;
}

.modal-content{
  background:url("img/\'b4db3050.png\'") !important;
}
.modal-header{
  color:#dc3545;
}

.modal-footer button{
  background-color: #dc3545 ;
}

.modal-footer button:hover{
  background-color: #dc35469d ;
}

.modal-footer,.modal-header{
  border:none;
}

