.side{
    background-color:Black !important;
}

.banner{
    height: 40vh;
    background: url('img/thepolice.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner > h1{
    font-size: 6em;
    color:white;
    font-weight:700;
}
.data-container{
    background-color:#191919;
}

.cont{
    background-color:#191919;
}

.cont:hover{
    background-color:#2D2D2D !important;
}

.n{
    width: 40px;
}



